rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{syncCode} {
      allow create: if request.auth != null
        && request.resource.data.owner == request.auth.uid;
      allow read, update: if request.auth != null;
      allow delete: if request.auth != null
        && resource.data.owner == request.auth.uid;
      allow list: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
